{% extends "base_generic.html" %}

{% block content %}
    <h1>Worker list</h1>
    <a href="{% url 'worker_create' %}">Add new worker</a>
    {% if worker_list %}
    <ul>
        {% for worker in worker_list %}
            <li><a href="{{worker.get_absolute_url}}">{{worker}}</a> - (<a href="{% url 'worker_update' worker.id %}">Edit</a> / <a href="{% url 'worker_delete' worker.id %}">Delete</a>)</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no workers yet.</p>
    {% endif %}
{% endblock %}