html {
    color: white
}

body {
    background-color: rgb(35, 35, 35);
    margin: 0 auto;
}

.page-header {
    position: sticky;
    top: 0;
    z-index: 40;
    height:55px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(65, 65, 65);
}

.site-title {
    font-size: 1.6rem;
}

.menu-toggle {
    border: 0;
    font-size: 1.2rem;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 50;
    width: 270px;
    max-width: 85vh;
    background-color: rgb(25, 25, 25);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translateX(-110%);
    transition: transform 300ms cubic-bezier(.2,.9,.2,1);
}

.sidebar.is-open {transform: translateX(0);}

.menu-close {
    align-self: flex-end;
    background: transparent;
    color: inherit;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}


.sidebar a {
    text-decoration: none;
    font-size: 1.1rem;
    color: inherit;
    border-radius: 6px;
    padding: 0.6rem;
    
    display: block;
}

.sidebar a:hover
{
    background: rgb(65, 65, 65);
}
.create-schedule-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 55px);
    padding-top: 10vh;
}

.create-schedule-content h1 {
    font-size: 2.5rem;
    margin-bottom: 6vh;
}

.month-input {
    padding: 0.4rem;
    background-color: rgb(65, 65, 65);
    color: white;
    border-radius: 6px;
    border: 0;
}

.general-btn {
    padding: 0.4rem;
    border-radius: 6px;
    border: 0;
    margin-left: 0.5rem;
    background-color: white;
    cursor: pointer;
}

.general-btn:hover {
    background: rgb(200, 200, 200);
}

.create-schedule-content label {
    font-size: 1.1rem;
}
