html {
    color: white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: rgb(35, 35, 35);
    margin: 0 auto;
}

.page-header {
    position: sticky;
    top: 0;
    z-index: 40;
    height:55px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(65, 65, 65);
}

.site-title {
    font-size: 1.6rem;
}

.menu-toggle {
    border: 0;
    font-size: 1.2rem;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 50;
    width: 270px;
    max-width: 85vh;
    background-color: rgb(25, 25, 25);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translateX(-110%);
    transition: transform 300ms cubic-bezier(.2,.9,.2,1);
}

.sidebar.is-open {transform: translateX(0);}

.menu-close {
    align-self: flex-end;
    background: transparent;
    color: inherit;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}


.sidebar a {
    text-decoration: none;
    font-size: 1.1rem;
    color: inherit;
    border-radius: 6px;
    padding: 0.6rem;
    
    display: block;
}

.sidebar a:hover
{
    background: rgb(65, 65, 65);
}
.page-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 55px);
    padding-top: 3.5rem;
    max-width: 800px;
    margin: 0 auto;
}

.page-content h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.month-input {
    padding: 0.4rem;
    background-color: rgb(65, 65, 65);
    color: white;
    border-radius: 6px;
    border: 0;
}

.general-btn {
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.general-btn:hover {
    background: rgb(200, 200, 200);
    text-decoration: underline;
}

.page-content label {
    font-size: 1.1rem;
}

.add-new-btn {
    align-self: flex-start;
    text-decoration: none;
    padding: 0.7rem;
    border-radius: 6px;
    background-color: rgb(0, 70, 0);
    color: rgb(0, 160, 0);
    font-weight: 450;
}

.add-new-btn:hover {
    background-color: rgb(0, 85, 0);
}

.create-schedule-content > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month-form label {
    margin-bottom: 1rem;
}

.month-form input {
    margin-bottom: 1.5rem;
}

b {
    font-weight: 600;
}

.worker-list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-bar {
    border-radius: 6px;
    border: 0;
    background-color: rgb(65, 65, 65);
    cursor: text;
    color: white;
    padding: 0.5rem;
}

.search-bar::placeholder {
    color: rgb(200, 200, 200);
}

.employee-table {
    margin-top: 1rem;
    width: 100%;
    
}

.employee-detail-link {
    color: inherit;
    text-decoration: none;
}

.employee-detail-link:hover {
    text-decoration: underline;
}

.employee-table-data,
.employee-table-header {
    padding: 0.7rem;
    text-align: left;
}

.employee-table-data-row,
.employee-table-header-row {
    border-bottom: 1px solid rgb(120, 120, 120);
}
