
/* DOCUMENT */

html {
    color: white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


/* BODY */

body {
    background-color: rgb(35, 35, 35);
}


/* SITE-HEADER */

.page-header {
    position: sticky;
    top: 0;
    z-index: 40;
    height:4rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(65, 65, 65);
}

.site-title {
    font-size: 1.6rem;
}

.menu-toggle {
    border: 0;
    font-size: 1.4rem;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}


/* SIDEBAR */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 50;
    width: 270px;
    max-width: 85vw;
    background-color: rgb(25, 25, 25);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transform: translateX(-110%);
    transition: transform 300ms cubic-bezier(.2,.9,.2,1);
    gap: 1rem;
}

.sidebar.is-open {transform: translateX(0);}

.menu-close {
    align-self: flex-end;
    background: transparent;
    color: inherit;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar a {
    text-decoration: none;
    font-size: 1.1rem;
    color: inherit;
    border-radius: 6px;
    padding: 0.6rem;
    display: block;
}

.sidebar a:hover
{
    background: rgb(65, 65, 65);
}


/* MAIN SECTION */

.page-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 55px);
    padding-top: 2.5rem;
    max-width: 800px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}


/* CREATE SCHEDULE PAGE */

.month-selection-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* EMPLOYEE LIST PAGE */

.employee-list-functions-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}

.search-bar {
    border-radius: 6px;
    border: 0;
    background-color: rgb(65, 65, 65);
    cursor: text;
    color: white;
    padding: 0.5rem;
}

.search-bar::placeholder {
    color: rgb(200, 200, 200);
}

.employee-table {
    margin-top: 1rem;
    width: 100%;
    max-width: 600px;
}

.employee-detail-link {
    color: inherit;
    text-decoration: none;
}

.employee-detail-link:hover {
    text-decoration: underline;
}

.employee-table-data,
.employee-table-header {
    padding: 0.7rem;
    text-align: left;
}

.employee-table-data-row,
.employee-table-header-row {
    border-bottom: 1px solid rgb(120, 120, 120);
}


/* INPUT FIELDS */

.form-input-field {
    padding: 0.4rem;
    background-color: rgb(65, 65, 65);
    color: white;
    border-radius: 6px;
    border: 0;
    margin-bottom: 1.5rem;
}

.form-input-field:hover {
    cursor: pointer;
    background-color: rgb(85, 85, 85);
}

/* BUTTONS */

.form-submit-button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 0;
    background-color: white;
    cursor: pointer;
    font: inherit;
    font-weight: 450;
}

.form-submit-button:hover {
    background: rgb(200, 200, 200);
    text-decoration: underline;
}

.add-new-button {
    align-self: flex-start;
    text-decoration: none;
    padding: 0.7rem;
    border-radius: 6px;
    background-color: rgb(0, 70, 0);
    color: rgb(0, 160, 0);
    font-weight: 450;
}

.add-new-button:hover {
    background-color: rgb(0, 85, 0);
}


/* INPUT FIELD LABELS */

label {
    margin-bottom: 1rem;
}


/* OTHER */

b {
    font-weight: 600;
}

/* EMPLOYEE DETAIL PAGE */

.employee-options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 9rem;
}

.edit-employee-info-button,
.edit-employee-avail-button {
    text-align: center;
    padding: 0.7rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    color: inherit;
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}

.delete-employee-button {
    text-align: center;
    padding: 0.7rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    color: rgba(255, 110, 110, 0.7);
    background-color: rgba(255, 65, 65, 0.15);
    cursor: pointer;
    font-weight: 450;
    border: 0;
}

.edit-employee-info-button:hover,
.edit-employee-avail-button:hover {
    background-color: rgb(85, 85, 85);
    text-decoration: underline;
}

.delete-employee-button:hover {
    background-color: rgba(255, 65, 65, 0.25);
    text-decoration: underline;
}

/* EMPLOYEE AVAILABILITY */

.avail-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flatpickr-input {
    padding: 0.4rem;
    background-color: rgb(65, 65, 65);
    color: white;
    border-radius: 6px;
    border: 0;
    margin-bottom: 1.5rem;
}

.flatpickr-input:hover {
    cursor: pointer;
    background-color: rgb(85, 85, 85);
}


/* EMPLOYEE INFO EDIT */

.employee-edit-table td,
.employee-edit-table th {
    padding: 0.6rem 0.4rem;
}

.employee-edit-table input {
    padding: 0.4rem;
    background-color: rgb(65, 65, 65);
    color: white;
    border-radius: 6px;
    border: 0;
}

.employee-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}


/* DISPLAY SCHEDULE */

.schedule-type {
    font-size: 1.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.schedule-table {
    margin-top: 1rem;
    width: 100%;
    max-width: 600px;
    margin-bottom: 1rem;
}

.schedule-table-data,
.schedule-table-header {
    padding: 0.5rem;
    text-align: left;
    vertical-align: middle;
}

.schedule-table-row {
    border-bottom: 1px solid rgb(120, 120, 120);
}

.assigned-employess-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}