<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
            <title>Shift Scheduler</title>
        {% endblock %}
        {% block style %}{% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        {% block sidebar %}
            <ul class="sidebar-nav">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'workers' %}">Workers</a></li>
                <li><a href="">Shifts</a></li>
            </ul>
        {% endblock %}
    </body>
    {% block content %}{% endblock %}
    {% block pagination %}
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="{{request.path}}?page={{page_obj.previous_page_number}}">previous</a>
            {% endif %}
            <span>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.</span>
            {% if page_obj.has_next %}
                <a href="{{request.path}}?page={{page_obj.next_page_number}}">next</a>
            {% endif %}
        {% endif %}
    {% endblock %}
</html>