{% extends "base_generic.html" %}

{% block content %}
    <h1 class="page-title">Create Schedule</h1>
    <form action="" method="post" class="month-selection-form">
        {% csrf_token %}

        <div style="margin-bottom: 1rem; font-size: 1.2rem;">
            {{ form.schedule_period.label_tag }}
        </div>

        <div style="margin-bottom: 1.5rem;">
            {{ form.schedule_period }}
        </div>
        <button type="submit" class="form-submit-button">Create</button>
    </form>
    {% if data_error_msg %}
        <p>{{data_error_msg}}</p>
    {% elif solver == 'unsuccessful' %}
        <p>Solver failed form some reason.</p>
    {% endif %}
{% endblock %}