{% extends "base_generic.html" %}

{% block content %}
    <h1>Generate Schedule</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{form.month}}
        <br><br>
        <button type="submit">Generate</button>
    </form>
    {% if solution %}
        <h2>Generated Schedule</h2>
        <table border="1" cellpadding="5">
            <tr>
                <th>Date</th>
                <th>Assigned Employees</th>
            </tr>
            {% for date, employees in solution.items %}
                <tr>
                    <td>{{ date }}</td>
                    <td>{{ employees }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}