{% extends "base_generic.html" %}

{% block content %}
<h1>{{ schedule.month|date:"F Y" }} Schedule</h1>

<p><strong>Solution:</strong> {{schedule.schedule_stats.status}}</p>

<h2>Per day</h2>
<table border="1" cellpadding="5" cellspacing="0" style="width: 27%;">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">Day</th>
            <th style="text-align: center; vertical-align: middle;">Assigned Employees</th>
        </tr>
    </thead>
    <tbody>
        {% for day, employees in schedule.schedule.items %}
        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ day }}</td>
            <td style="text-align: center; vertical-align: middle;">
                {% for emp_id in employees %}
                    <div>{{ emp_id }}</div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<h2>Per employee</h2>
<table border="1" cellpadding="5" cellspacing="0" style="width: 27%;">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">Employee ID</th>
            <th style="text-align: center; vertical-align: middle;">Assigned Days</th>
        </tr>
    </thead>
    <tbody>
        {% for e, stats in schedule.employee_stats.items %}
        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ e }}</td>
            <td style="text-align: center; vertical-align: middle;">
                {% for day in stats.days %}
                    <div>{{ day }}</div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
