{% extends "base_generic.html" %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}
    <h1>{{worker}}</h1>
    <form method="post" class="avail-form">
        {% csrf_token %}

        <label>Unavaiable dates:</label>

        <input id="unavailablePicker" placeholder="Pick unavailable dates" />

        {{form.unavailable_dates_json}}

        <button type="submit" class="form-submit-btn">Save</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        const initial = {{ initial_dates_json|safe }};
        const fp = flatpickr("#unavailablePicker", {
            mode: "multiple",
            dateFormat: "Y-m-d",
            defaultDate: initial
        });

        const hidden = document.querySelector('input[name="unavailable_dates_json"]');

        function syncHidden() {
            const arr = fp.selectedDates.map(d => fp.formatDate(d, "Y-m-d"));
            hidden.value = JSON.stringify(arr);
            }
        
        fp.config.onChange.push(syncHidden);
        syncHidden();
        document.querySelector('form').addEventListener('submit', syncHidden);
    </script>
{% endblock %}